.displayRating {
  display: flex;

  .fullRedStars {
    transform: scale(1.2);
    width: 26px;
    color: $color1;
  }

  .emptyGreyStars {
    transform: scale(1.2);
    width: 26px;
    color: $color3;
  }
}

/* Responsive */

@media (max-width: 767px) {
  .displayRating {
    display: flex;

    .fullRedStars {
      transform: scale(1);
      width: 24px;
    }

    .emptyGreyStars {
      transform: scale(1);
      width: 24px;
    }
  }
}