.accommodationPage {
  min-height: calc(100vh - 259px);
  max-width: 1240px;
  margin: 0 auto;

  .containerHousing {
    color: $color1;

    .infos {
      display: flex;
      flex-direction: row;
      margin-top: 25px;

      .location {
        display: flex;
        flex-direction: column;
        width: 80%;

        .houseTitle {
          font-size: 36px;
          font-weight: 500;
        }

        .place {
          margin-top: 10px;
          margin-bottom: 20px;
          width: 100%;
          font-size: 18px;
          font-weight: 500;
          line-height: 26px;
          letter-spacing: 0em;
        }

        .tags {
          display: flex;
          flex-direction: row;
          margin-bottom: 25px;
        }
      }

      .host {
        display: flex;
        flex-direction: column;
        align-items: self-end;
        justify-content: flex-start;
        width: 20%;

        .containerHost {
          display: flex;
          flex-direction: row-reverse;

          .hostPicture {
            width: 64px;
            height: 64px;
            border-radius: 50px;
          }

          .hostName {
            display: flex;
            align-content: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            margin-right: 10px;
            width: 55%;
            word-wrap: break-word;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: right;
          }
        }

        .rating {
          margin-top: 45px;
        }
      }
    }
  }

  .accommodationCollapse {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .displayCollapse {
      width: 47%;
    }
  }
}